brand {
    -webkit-text-stroke: 2px black; /* width and color */
}

body {
    background-color: #97BB8E;
    height: 100vh;
    width: 100vw;
}

html {
    background-color: #97BB8E;
    height: 100vh;
}