<AuthorizeView>
    <Authorized>
        <a style="text-decoration:none; font-size:20px;" href="Identity/Account/Manage">Profile</a>
        <a style="text-decoration:none; font-size:20px; position: relative; right:40px;" href="/stock">Flowers</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link" style="font-size:20px;">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        @*<div style=" height: 100%; margin: auto; display: flex; justify-content: space-between; align-content:center; align-items:center;">*@

        <a style="text-decoration:none; font-size:20px; position: relative; right:40px;" href="/stock">Flowers</a>
            <a style="text-decoration:none; font-size:20px;" href="Identity/Account/Login">Log in</a>
        @*</div>*@
    </NotAuthorized>
</AuthorizeView>
